$header-height: 34px;
$toolbar-height:40px;
$formula-height: 24px;
$info-cell-width: 40px;

$border-color: #c0c0c0;
$main-color: #888;

///
$focus-color:  #1a73e8;

///
$button-bg: #eee;
$button-clr: grey;

//
$row-height: 24px;
$table-bg: #f8f9f1;
$cell-width: 120px;
$cell-border-clr: #e2e3e3;
$cell-text-clr: black;
$cell-selected-clr: #3c74ff;

//
$db-header-height: 64px;